.resume {
  margin: 0 auto;
  width: 1000px;
  display: flex;
}

.side-split {
  margin: 16px 0;
  height: 0;
  border-top: 1px dashed black;
}

.side {
  padding: 24px;
}

.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.name {
  margin-top: 20px;
}

.icon-list svg {
  margin-right: 8px;
  width: 30px;
  height: 30px;
}

.icon-item {
  padding: 10px;
  display: flex;
  align-items: center;
}

.icon-label {
  color: var(--text-grey);
}

.icon-value {
  font-weight: 500;
  color: var(--text-link);
}

.social-item {
  padding: 10px;
  display: flex;
  align-items: center;
}

.social-item img {
  margin-right: 8px;
  width: 30px;
  height: 30px;
}

.social-label {
  color: var(--text-grey);
}

.social-value {
  font-weight: 500;
  color: var(--text-link);
}

.main {
  flex: 1;
  padding: 20px;
}

.section {
  margin: 0px 0;
}

.section-main {
  margin: 4px 0;
}

.section-title {
  padding: 12px 0;
  font-size: 30px;
  font-weight: 500;
}
.section-section {
  box-sizing: border-box;
  padding: 5px 0;
}

.exp {
  margin-bottom: 16px;
}
.exp-title {
  margin-bottom: 2px;
  white-space: pre;
  font-size: 20px;
  font-weight: 400;
}

.pro {
  margin-bottom: 6px;
}
.pro-title {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 500;
}