* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "DM Sans", Gilroy, -apple-system, "Sofia Pro", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

body {
  min-height: 100vh;
}

a {
  outline: none;
  text-decoration: none;
}

:root {
  --text-grey: #79819A;
  --text-link: #516CF7;
  --text-dark: #47516B;
  --text-p1: #9251F7;
}

.flex {
  display: flex;
}

.flex-c {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.content-center {
  justify-content: center;
}
.content-b {
  justify-content: space-between;
}


.w-50 {
  width: 50%;
}

.flex-w {
  flex-wrap: wrap;
}
